In [ ]:
#Leetcode solutions - Introduction to Pandas 15 tasks

In [ ]:
#2877. Create a DataFrame from List
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data,columns=['student_id','age'])

In [ ]:
#2878. Get the Size of a DataFrame
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    return list(players.shape)

In [ ]:
#2879. Display the First Three Rows
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.loc[[0,1,2]]

In [ ]:
#2880. Select Data
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students.loc[students['student_id'] == 101, ['name','age']]

In [ ]:
#2881
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary']*2
    return employees

In [ ]:
#2882
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    customers = customers.drop_duplicates(subset=['email'])
    return customers

In [ ]:
#2883
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    students.dropna(subset = ['name'], inplace = True)
    return students

In [ ]:
#2884
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary'] = employees['salary']*2
    return employees

In [ ]:
#2885
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students.rename(columns = {'id': 'student_id','first': 'first_name', 'last': 'last_name', 'age': 'age_in_years'}, inplace = True)
    return students

In [ ]:
#2886
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students['grade'] = students['grade'].astype(int)
    return students

In [ ]:
#2887
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    products.fillna({'quantity' :0}, inplace = True)
    return products

In [ ]:
#2888
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    return pd.concat([df1,df2])

In [ ]:
#2889
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    pivot_weather = weather.pivot(index='month',columns='city',values='temperature')
    return pivot_weather

In [ ]:
#2890
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    report_melted = pd.melt (
        report,
        id_vars='product',    #deyismeyen sutun
        var_name='quarter',  #unpivot olacaq sutunlarin adi
        value_name='sales'    #deyerleri bu sutuna yazacaq
    )
    return report_melted

In [ ]:
#2891
import pandas as pd

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    animals = animals.sort_values(by='weight',ascending = False)
    filtered_animals = animals[animals['weight']>100]['name']
    return pd.DataFrame(filtered_animals)